[build]
  environment = { NODE_VERSION = "18" }

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200
  [[redirects]]
  from = "/admin/*"
  to = "/admin/:splat"
  status = 200
